@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul, ol {
    list-style: disc;
  }
}

body {
  background-color: #fffcfc;
}

:root {
  --rdp-cell-size: 40px;
  --rdp-accent-color: indigo;
  --rdp-background-color: gray;
  --rdp-selected-color: green;
}

.rdp {
  --rdp-accent-color: var(--rdp-accent-color);
  --rdp-background-color: var(--rdp-background-color);
  --rdp-selected-color: var(--rdp-selected-color);
}
